header.main-header
	a(href="#welcome")
		h1 Dominik Barylski

	nav
		ul
			li: a(href="#welcome"): span(data-hover="Start") Start
			li: a(href="#aboutme"): span(data-hover="O mnie") O mnie
			li: a(href="#technologies"): span(data-hover="Technologie") Technologie
			li: a(href="#portfolio"): span(data-hover="Portfolio") Portfolio
			li: a(href="#contact"): span(data-hover="Kontakt") Kontakt

	span.mobile-menu-toggle: i
