header.main-header
	a(href="#welcome" data-section="0")
		h1 Dominik Barylski

	nav
		ul
			li: a(href="#welcome" data-section="0"): span(data-hover="Start") Start
			li: a(href="#aboutme" data-section="1"): span(data-hover="O mnie") O mnie
			li: a(href="#technologies" data-section="2"): span(data-hover="Technologie") Technologie
			li: a(href="#portfolio" data-section="3"): span(data-hover="Portfolio") Portfolio
			li: a(href="#contact" data-section="4"): span(data-hover="Kontakt") Kontakt

	span.mobile-menu-toggle: i
