section.welcome-section
	.triangles-parallax
		span(data-offset="30"): i
		span(data-offset="20"): i
		span(data-offset="30").dark: i
		span(data-offset="50"): i
		span(data-offset="70").dark: i
		span(data-offset="40").dark: i
		span(data-offset="80"): i
		span(data-offset="20"): i
		span(data-offset="30"): i
	.content
		h2 Potrzebujesz <em>frontend <span>&</span> backend</em> developera?
		p Powinieneś wybrać mnie

	.welcome-square