section.aboutme-section(data-header="black" data-mousehint="whitish")
	.two-columns

		.column.to-right
			.content-section
				h2.heading(aos="fade-down" aos-duration="1000") O mnie
				p(aos="fade-up" aos-duration="1000"): strong Mam na imię Dominik, jestem 21 letnim Web developerem z Łodzi.
				p(aos="fade-up" aos-delay="200" aos-duration="1000").
					Od ponad 5 lat pracuję jako freelancer. Stworzyłem przez ten czas wiele projektów i współpracowałem z kilkoma firmami, dzięki czemu zdobyłem doświadczenie. <br />
					Jestem osobą, która dba o detale oraz szybko uczy się nowych technologii. Będzie mi miło stworzyć kolejną stronę internetową przy współpracy z Tobą.
				p(aos="fade-up" aos-delay="400" aos-duration="1000"): em Nadal nie przekonany?

		.column
			.photo(aos="fade-right" aos-delay="300" aos-duration="800" aos-anchor-placement="top-center")
				.shadow
				canvas#canvas-photo
				img(src="images/photo.png" alt="Dominik Barylski")