section.portfolio-section(data-point="point-4")
	.portfolio-nav
		span.prev Poprzednia realizacja
		span.next Następna realizacja

	.portfolio-thumbnails
		a.thumbs-toggle <b>1</b> / 20
		ul
			li: a(href="#"): img(src="")
			li: a(href="#"): img(src="")
			li: a(href="#"): img(src="")

	.portfolio-works
		.work-slide
			.work-bg(style="background-image:url()")
			.work-img(style="background-image:url()")
			.work-info
				h3 Title
				ul
					li CSS3
					li HTML5
					li JavaScript
				a.url(href="#") Zobacz online