doctype html
html(lang="pl")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(charset="utf-8")
		title Dominik Barylski Portfolio - Frontend & backend developer
		meta(name="description" content="Full-stack Webdeveloper z kilkuletnim doświadczeniem. Korzystam z HTML5, CSS3, jQuery, PHP, MySQL oraz Symfony2. Zapraszam do współpracy.")
		meta(name="keywords" content="Dominik Barylski, frontend, backend, full-stack, web, developer, strony internetowe, programista")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui")
		meta(name="theme-color" content="#020202")
		meta(name="author" content="Dominik Barylski")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/vendors.css")
		|<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	body
		block body

		script(src="//code.jquery.com/jquery-2.1.4.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
		block scripts