extends ../layout
block body
	include ../includes/header

	//include ../includes/loader

	.point-fixed
		span.red-point

	.mousehint-fixed
		.mousehint-square(data-section="1")
			.mousehint
				span Przewiń w dół
				i

	include ../includes/1-welcome
	include ../includes/2-aboutme
	include ../includes/3-technologies
	include ../includes/4-portfolio
	include ../includes/5-contact

block scripts
	script(src="js/vendors.js")
	script(src="js/main.js")